<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>詳細ページ</title>
</head>
<body>
    <h1>詳細</h1>

    {% if event.img_path %}
    <img src="../../{{event.img_path}}" alt="image" style="width: 200px;">
    
    
    {% endif %}
    <p>
        {{event.user_id}} 
        {{event.host}}
        {{event.address}}
        {{event.tel}}
        {{event.title}}
        {{event.date.strftime('%Y/%m/%d')}}
        {{event.place}}
        {{event.body}}
        {{event.url}}

    </p>

</body>
</html>