<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <h1>Evridge</h1>
    {% if status == "logout" %}
    <p>ログアウトが完了しました</p>
    {% endif %}

    {% if not current_user.is_anonymous %}
    <h1>ユーザ名：{{current_user.user_id}}</h1>
    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
    <li><a href="{{ url_for('event_register') }}">イベント登録</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Sign In</a></li>
    {% endif %}

    <h2>Event</h2>
    {% for event in all_event %}
    ------------------------------

    <br> <p>{{event.title}}：{{event.body}}（{{event.date.strftime('%Y/%m/%d')}}）</p>
    
    {% if event.img_path %}
    </br><img src="{{event.img_path}}" alt="image" style="width: 200px;"></br>
    {% endif %}
    
    <a href="{{ url_for('show_detail',event_id=event.event_id, user_id=event.user_id) }}">詳細ページ</a></br>

    {% endfor %}
    </body>
</html>
